body {
    font-size: 62.5%;
    background: url(/src/images/bg-desktop.svg);
    background-color: var(--primary-color);
}

.header h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-bottom: 2em;
}

.header h1:before {
    content: url(/src/images/logo.svg);
}

.hero {
    display: grid;
    grid-template-areas: "picture text";
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2.4em;
}

.hero .picture {
    grid-area: picture;

}

.hero .text {
    grid-area: text;
    color: var(--neutral-color);
    display: flex;
    flex-direction: column;
    margin: 6em 5px;
}

.hero .text h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 2.4em;
    font-weight: 600;
    margin-bottom: 1em;
}

.hero .text p {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    margin-bottom: 1.5em;
}

.hero .text .button {
    
}

.hero .text .buttom a {
    background-color: var(--neutral-color);
    align-self: flex-start;
    padding: 10px 20px;
    border-radius: 40px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    font-weight: 400;
    transition: 0.3s;
}

.hero .text .buttom a:hover {
    background-color: var(--secundary-color);
    color: var(--neutral-color);
}